.ant-layout {
  min-height: 100vh !important;
}

.ant-layout-header .ant-typography {
  float: left;
  margin: 0 20px 0 0;
  color: white;
  line-height: 64px;
}

.ant-layout-header .ant-menu {
  line-height: 64px;
}

@media screen and (max-width: 640px) {

  .ant-layout-header {
    padding: 0 32px !important;
  }

  .ant-layout-header .ant-typography {
    font-size: 20px;
  }

}
